body {
  text-align: center;
  border solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height:20em;
  padding: 30px;
  background-color:powderblue;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.rounded{
  height: 8%;
  width: 10%;
}

.photo {
  width: 450px;
  height: 450px;
}
